.dark {
    position: relative;
  background: url(../assets/header.jpg) no-repeat;
  background-size: cover;
  height: 700px;
  text-align: center;
  border-bottom-left-radius: 20px ;
  border-bottom-right-radius: 20px ;
}
p{
    position: absolute;
    background: transparent;
    margin-left: 40%;
    margin-top: 18%;
    font-size: 40px;
    color: rgb(139, 136, 136);
    text-shadow: 0 0 5px #252424, 0 0 10px #383737, 0 0 15px #272626, 0 0 20px #000000, 0 0 30px #ada9a9, 0 0 40px #c6c9c4, 0 0 55px #b8b8b8, 0 0 75px #282b27;
}

p:hover{
    scale: 2;
    transition: 0.5s;
    cursor: pointer;
}