* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.App {
  margin: 0 auto;
  padding: 20px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

h1 {
  color: #333;
}

nav {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 200px;
  margin: 40px;
}

a {
  font-size: 30px;
  text-decoration: none;
  color: #777777;
  font-weight: bold;
  transition: color 0.3s ease;
}

a:hover {
  color: #b6b6b6;
}
li:hover {
  scale: 2;
  transition: 0.5s;
}
  

/*media query for 400px and 768px */

@media only screen and (max-width: 400px) {
  ul {
    flex-direction: row;
    gap: 20px;
  }
  a{
    font-size: 14px;
  }
  nav{
    margin-top: -50px;
  }
  li:hover{
    scale: 1.2;
  }
}
@media only screen and (max-width: 770px){
  a{
    font-size: 18px;
  }
 ul{
  gap: 80px;
 } 
 li:hover{
  scale: 1.5;
 }
}